@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

:root{
  --font-principal: 'Montserrat', sans-serif;
  --branco: #CBE4DE;
  --preto: #2C3333;
  --cinza: #2E4F4F;
}

body {
  margin: 0;
  font-family: var(--font-principal);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
